collective.ptg.nivoslider.egg-info/dependency_links.txt
collective/.DS_Store
 *.mo
collective.ptg.nivoslider.mo
.pyc
.DS_Store
*.pyc
collective.ptg.nivoslider.egg-info/

dist/collective.ptg.nivoslider-1.0.2.zip

dist/collective.ptg.nivoslider-1.0.4.zip
